*.o
*.obj

*.processed

*.a
*.lib

*.so
*.so.*
*.dll
*.dylib

*.out
*.exe
*.app

*.def
*.exp

*.dSYM

*.depfile

*.tmp
*.log

*.plist

*.gcda
*.gcno
*.profraw

docs/*
out/*
tmp/*
vulkan/*

filename
test.c
output.txt

.vscode
.vs

*.DS_STORE

*.ibc
*.cbe
*.cas
